ul {
    list-style-type: none;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.todo-container {
    width: 30%;
    min-height: 80%;
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 8px;
}

.task-title {
    margin: 16px 0 16px 0;
}

.task-input {
    width: 160px;
    height: 20px;
    padding: 0;
    border: 1px solid #FFB74D;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-task-block {
    margin: 0 8px 0 8px;
    border: 2px solid #3498db;
    border-radius: 12px;
    background-color: #F5F5F5;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-task-block {
    margin: 0 8px 0 8px;
    border: 2px solid #3498db;
    border-radius: 12px;
    background-color: #F5F5F5;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
    margin-bottom: 12px;
}

.collection {
    padding: 0;
}

.done-task {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: forestgreen;
    color: white;
    font-size: 15px;
}

.edit-task {
    margin-left: 10px;
    cursor: pointer;
    background-color: honeydew;
    border-radius: 5px;
}

.item-task {
    margin: 0 10px 7px 10px;
    font-size: 17px;
    font-family: "Comic Sans MS", sans-serif;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.filter-task-block {
    margin-top: 50px;
}

.filter-input {
    width: 160px;
    height: 20px;
    padding: 0;
    border: 1px solid #FFB74D;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.clear-tasks {
    width: 180px;
    height: 20px;
    margin-top: 20px;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.bottom-windows {
    margin-bottom: 12px;
}

.divider {
    margin: 0 10px;
    font-size: 20px;
    color: #333;
    vertical-align: middle;
}

.todo-title {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 40px;
    color: #333;
    letter-spacing: 2px;
}

